# Environment variables


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments


# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Local data (si luego agregan archivos locales)
local_data/

# Build files
dist/
build/